<!doctype html>
<html>
    <head>
        <title>Change Password</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

        <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
        <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

        <%- include("partials/_navigation_head_items"); %>
    </head>

    <body>
      <%- include("partials/_navigation"); %>

        <div class="container" >
            <div class="col-sm-5 col-sm-offset-1">
                <div class="modal-header">
                    <h1><span class="fa fa-sign-in"></span> Change Password </h1>
                        <% if (message.length > 0) { %>
                        <div class="alert alert-danger"><%= message %></div>
                        <% } %>
                </div>
                <div class="modal-body">
                    <form action="/change_password" method="POST">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label>Old Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" class="form-control" name="new_password">
                        </div>
                        <div class="form-group">
                            <label>Confirm New Password</label>
                            <input type="password" class="form-control" name="confirm_password">
                        </div>
                        <button type="submit" class="btn btn-warning btn-lg">Submit</button>
                    </form>
                    <hr>
                </div>
            </div>
        </div>

        <!-- Partials with the modal divs for updating, viewing details and inserting resources. -->
    <%- include("partials/_modal_new_resource"); %>
    <%- include("partials/_modal_update_resource"); %>
    <%- include("partials/_modal_detail_resource"); %>

    </body>
</html>
