<!DOCTYPE html>
<html lang="en">

  <head>
    <title> Profile </title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>

  <body>
    <% include partials/_nav-bar.ejs %>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <!-- <div class="col-sm-6"> -->
            <h3><span class="fa fa-user"></span> </h3>

<!--             <% if (user) { %>

                <ul>
                 <li><strong>First name</strong>: <%= user.first_name %></li>

                 <li><strong>Last name</strong>: <%= user.last_name %></li>

                 <li><strong>Username</strong>: <%= user.handle %></li>

                 <li><strong>email</strong>: <%= user.email %></li>

                 <br>
                </ul>

                <a href="/change_password" class="btn btn-default">Change Password</a>
            <% } else %> -->
            <% if (user_github) { %>

                <ul>

                 <li><strong>ID</strong>: <%= user_github.id %></li>

                 <li><strong>Display Name</strong>: <%= user_github.display_name %></li>

                 <li><strong>Username</strong>: <%= user_github.username %></li>

                 <li><strong>Profile URL </strong>: <%= user_github.profileUrl %></li>

                 <li><strong>Primary Email</strong>: <%= user_github.emails[0].value %></li>
                 <br>
                </ul>
            <!-- <% } else { %> -->
                <!-- <a href="/connect/local" class="btn btn-default">Connect Local</a> -->
            <% } %>
        <!-- </div> -->
    </div>
</div>
</body>
</html>
