<!DOCTYPE html>
<html lang="en">

  <head>
    <title> Profile </title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>

  <body>
    <%- include("partials/_navigation"); %>
    <div class="container">

      <div class="row">

          <!-- LOCAL INFORMATION -->
          <!-- <div class="col-sm-6"> -->
              <div class="container">
                <div class="row">
                  <div class="col-sm-6 col-md-6">
                    <h3><span class="fa fa-user"></span> User Profile </h3>
                  </div>
          <!-- If github authenticate, disallow change password -->
                  <% if (user.password !== null) { %>
                  <div class="col-sm-6 col-md-6">
                    <a href="/change_password" class="btn btn-primary pull-right">Change Password</a>
                  </div>
                  <% } %>
                </div>
              </div>

              <div class="well">
                  <% if (user.password !== null) { %>
                    <form action="/api/users/update/" method="POST">
                      <div class="form-group">
                      <label class="control-label" for="first_name">First Name:</label>
                      <input class="form-control" type="text" name="first_name" value="<%= user.first_name %>">
                      </div>

                      <div class="form-group">
                      <label class="control-label" for="first_name">Last Name:</label>
                      <input class="form-control" type="text" name="last_name" value="<%= user.last_name %>">
                      </div>

                      <div class="form-group">
                      <label class="control-label" for="first_name">Username:</label>
                      <input class="form-control" type="text" name="handle" value="<%= user.handle %>">
                      <input type="hidden" name="id" value="<%= user.id %>">
                      </div>

                      <div class="form-group">
                        <button class="btn btn-warning btn-block" type="Submit">Update Profile</button>
                      </div>
                    </form>
            <!-- if github authenticate, disallow profile update -->
                  <% } if (user.password === null) { %>
                      <ul>
                       <li><strong>First name</strong>: <%= user.first_name %></li>
                       <li><strong>Last name</strong>: <%= user.last_name %></li>
                       <li><strong>Username</strong>: <%= user.handle %></li>
                       <li><strong>email</strong>: <%= user.email %></li>
                       <br>
                      </ul>
                  <% }; %>
              </div>
      </div>
  </div>

  <!-- Partials with the modal divs for updating, viewing details and inserting resources. -->
  <%- include("partials/_modal_new_resource"); %>
  <%- include("partials/_modal_update_resource"); %>
  <%- include("partials/_modal_detail_resource"); %>

</body>
</html>
