<!DOCTYPE html>
<html lang="en">

  <head>
    <title> Profile </title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>

  <body>
    <%- include("partials/_navigation"); %>
    <div class="container">

      <div class="row">

          <!-- LOCAL INFORMATION -->
          <!-- <div class="col-sm-6"> -->
              <div class="well">
                  <h3><span class="fa fa-user"></span> User Profile </h3>

                  <% if (!user.displayName) { %>
                      <ul>
                       <li><strong>First name</strong>: <%= user.first_name %></li>
                       <li><strong>Last name</strong>: <%= user.last_name %></li>
                       <li><strong>Username</strong>: <%= user.handle %></li>
                       <li><strong>email</strong>: <%= user.email %></li>
                       <br>
                      </ul>
                      <% if (user.password !== null) { %>
                        <a href="/change_password" class="btn btn-default">Change Password</a>
                      <% } %>
                  <% } if (user.displayName) { %>
                      <ul>
                       <li><strong>ID</strong>: <%= user.id %></li>
                       <li><strong>Username</strong>: <%= user.username %></li>
                       <li><strong>Name</strong>: <%= user.displayName %></li>
                       <li><strong>Email</strong>: <%= user.emails[0].value %></li>
                       <li><strong>Github Profile</strong>: <a target="_blank" href=<%= user.profileUrl %>> <%= user.profileUrl %></a></li>
                       <br>
                      </ul>
                  <% }; %>
              </div>
          <!-- </div> -->
      </div>
  </div>

  <!-- Partials with the modal divs for updating, viewing details and inserting resources. -->
  <%- include("partials/_modal_new_resource"); %>
  <%- include("partials/_modal_update_resource"); %>
  <%- include("partials/_modal_detail_resource"); %>

</body>
</html>
