
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Resource Wall -- Home</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/styles/rating.css" type="text/css" />
    <%- include("partials/_navigation_head_items"); %>

  </head>
  <body>
  <%- include("partials/_navigation"); %>

  <!-- this container will hold the data from all users -->
  <div id="resource-container" class="container">

  </div> <!-- /container -->


  <!-- Partials with the modal divs for updating, viewing details and inserting resources. -->
  <%- include("partials/_modal_new_resource"); %>
  <%- include("partials/_modal_update_resource"); %>
  <%- include("partials/_modal_detail_resource"); %>


<!--  -->
<div class="modal fade" id="resourceModal" tabindex="-1" role="dialog" aria-labelledby="resourceModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="resourceModalLabel">Title Here</h4>

      </div>
      <div class="modal-body">
        <h5>url here</h5>
        <h6>Description here</h6>
        <!--Rating-->
        <form class="star_rating" method="POST" action="/api/rating">
          <button name="star" class="star" type=submit value="5">☆</button>
          <button name="star" class="star" type=submit value="4">☆</button>
          <button name="star" class="star" type=submit value="3">☆</button>
          <button name="star" class="star" type=submit value="2">☆</button>
          <button name="star" class="star" type=submit value="1">☆</button>
        </form>
        <!--Like/Unlike-->
        <button class="like" type="submit">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </button>
        <!--Add Comment-->
        <button class="show_comment_field">
            <i class="fa fa-comment" aria-hidden="true"></i>
        </button>
        <form id="add_comment" action="/api/comment" method="POST">
            <input name="comment" type="textarea" value="">
            <input type="submit" value="Comment">
        </form>

      </div>

    </div>
  </div>
</div>

  <%- include("partials/_bootstrap_core_js"); %>
  <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>

